* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
section {
    padding:  0 calc(3.2vw + 3.24px) 0 calc(3.2vw + 3.24px);
}
button {
    border: 0;
    background-color: white;
}
.Contact_Sales {
    display: flex;
    text-transform: uppercase;
    justify-content: flex-end;
    font-size: calc(0.2vw + 9.312px);
    line-height: 275%;
    padding-right: calc(1.4vw + 0.808px);
    gap: calc(1.4vw + 0.808px);
    background-color:  #F4F4F4;
    color:  #AAAAAA;
}
select {
    border: 0;
    background-color:  #F4F4F4;
    color: #AAAAAA;


}
/* Меню начало*/
.container {

    margin: 0 auto;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    border-bottom: 1px #E0E0E0 solid;
    height: 99px;
    
}
.menu a {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: calc(0.2vw + 9.312px); /*12px*/
    line-height: 120%;
    align-items: center;
}
.IMGLayer2 {
     /*25px 0 25px 120px */
  padding-left:  calc(6.8vw + 5.76px);
    
}
.container_link {
    display: flex;
    gap: calc(5.7vw + 4.576px); /*100px*/
}
.container_logo3 {
    display: flex;
    
}
.container_logo3_1{
    display: flex; 
    justify-content: space-between; 
}
.container_logo_img1 {
     /*38px 0 38px 20px*/
    margin-right: calc(0.6vw +  -0.752px);
}
.container_logo_Showrooms{
       /*43px 46px 42px 0*/ /**/
       margin-right: calc(2.6vw + 1.648px);
}
.container_logo_img2 {
      /*37px 31px 37px 26px*/
      margin-right: calc(1.8vw + 1.088px);
}
@media(max-width: 385px){
    .IMGLayer2{
        padding-left: 5px;
        margin-right: 10px;
    }  
    .container_logo3{
        display: inline-block;
        margin-left: 5px;
    }
    .container_link{
        display: inline-block  
    }
}
/* Меню конец */
  /* Section1 Start */
    .section1 img {
    margin-top: calc(2.8vw + 1.96px);
    width: calc(100vw - calc(6.3vw + 5.824px));
    height: calc(41.8vw + 43.088px);
    
    /* width: calc(92.2vw + -0.228px); */
  }
  .Start2_text {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    margin-top: calc(4.6vw + 3.392px);   /*80px*/
    gap: calc(7.7vw + 6.976px); /*136px*/
}
.Start2_text_left {
    width: calc(19.9vw + 20.344px); /*355px*/
height: calc(9.8vw + 10.032px); /*174px*/
font-size: calc(2.7vw + 2.304px); /*48px*/
line-height: 120%;




}
.Start2_text_right {
    width: calc(31.9vw + 32.744px);  /*569px*/
height: calc(9vw + 8.128px);  /*160px*/
font-size: calc(1.4vw + 1.152px); /*24px*/
line-height: 166%;
color: #AAAAAA;
}

@media(max-width: 450px){
    .Start2_text{
        display: flex;
        flex-direction: column;
       align-items: center;
       text-align: center;
       
    }
}
  /* Section1 End */
  /* Section2 Start */
   .section2_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(11.8vw + 11.088px); /*210px*/
}
.img {
    text-align: center; 
    padding: calc(1.4vw + 1.152px); /*24px*/
}
.img img {
    width: calc(23.5vw + 192.864px); /*588   calc(3.3vw + 34.272px)*/
   height: calc(23.1vw + 23.584px);
}
.img p {
    margin-top: calc(0.6vw + -0.752px); /*10px*/
    text-align: left;
font-size: calc(1.4vw + 0.152px);
line-height: 121%;
}
@media(max-width: 966px){
    .img p{
        text-align: center;
        font-size: 10px;
    }  
    .section2_img{
        width: auto;
        height: auto;
    }
    
}


  /* Section2 End */
  /* Section3 Start */
  .section3_1 {
     display: flex; 
     flex-wrap: wrap; 
     justify-content: center; 
    margin-top: calc(11.9vw + 11.744px);/*215px*/
  }
  .section3_text h1 {  
font-size: calc(2.7vw + 2.304px); /*48px*/ 
line-height: 100%; 

  }
  .section3_text p {
    margin-top: calc(1.5vw + 1.464px); /*27px*/
    text-align: center;
font-size: calc(1.4vw + 1.152px); /*24px*/
line-height: 150%;
color: #4A4A4A;


  }
  .section3_1 img {
    margin-top: calc(7vw + 6.728px); /*125px*/
    width: calc(64.2vw + 65.94px);   /*1144.5px*/
    height: 100%; 
  }
  
  /* Section3 End */


  /* Section4 Start */
  .slider-container {
    position: relative;
   width: calc(100vw - calc(6.3vw + 5.824px));
    
    margin: auto;
    margin-top: calc(10.7vw + 9.904px); /*190px*/
    
}

.slider {
    display: flex;
    overflow: hidden;
}

.slide {
    flex: 0 0 auto;
    width: 100%;
    transition: transform 0.5s ease;
}

.slide img {
    height: calc(41.3vw + 42.496px);  /*736px*/
    width: 100%;
    object-fit: cover;

}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    padding: calc(0.6vw + -0.752px); /*10px*/
    font-size: calc(2.4vw + 1.68px) ; /*42px*/

}
button.prev {
    left:0;
}

button.next {
    right:0;
}
.radio-buttons {
    font-size: calc(0.2vw + 9.312px);  /*12px*/
    color: #E5E5E5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: calc(1.4vw + 1.152px); /*24px*/
}

.radio-label {
    display: inline-block;
    width: calc(0.6vw + -0.752px);  /*10px*/
    height: calc(0.6vw + -0.752px); /*10px*/
    border-radius: 50%; 
    background-color: #E5E5E5;
    margin-right: calc(0.2vw + 9.312px); /*12px*/
}

input[type="radio"] {
    display: none; 
}

input[type="radio"]:checked + .radio-label {
    background-color: #46856E;
    
}
@media(max-width: 500px) {
    .radio-buttons{
        display: none;
    }  
    button.prev, button.next{
        font-size: 50px;
        opacity: 0.5
    }
     
}
/* Section4 End */


/* Section5 Start */
.section5 {
    background-image: url(../IMG/экран\ 6/Frametv.WebP ), url(../IMG/экран\ 6/Frameql.WebP), url(../IMG/экран\ 6/Frameqq.WebP);
    background-repeat: no-repeat;
    background-position: left calc(12.8vw + 12.96px) center , center center, right calc(16.6vw + 16.448px) center;
   
    background-size: calc(9.1vw + 8.784px) calc(6.8vw + 6.76px), calc(9.1vw + 8.784px) calc(6.8vw + 6.76px), 
    calc(9.1vw + 8.784px) calc(6.8vw + 6.76px); /*162px 121px*/
   
}
.section5_main {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: calc(4.7vw + 3.704px) calc(7.1vw + 7.384px) 0 calc(7.1vw + 7.384px); /*83px 127px 0 127px*/
}
.section5_h2 {
text-align: left;
}
.section5_h2 h2 {
font-size: calc(2.7vw + 2.304px);/*48px*/
line-height: 110%;  /*56.25px*/
} 
.section5_h2 p {
margin-top: calc(1.4vw + 1.152px);  /*24px*/
font-size: calc(0.8vw + 0.56px); /*14px*/
line-height: calc(0.2vw + 9.312px);  /*12px*/
color: #46856E;
}
.section5_All_text {
    margin-top: calc(8.1vw + 8.256px); /*144px*/
    display: flex;
    gap: calc(2.3vw + 1.024px);  /*40px*/
    text-align: left;
}
@media(max-width: 234px){
    .section5_h2 p {
        margin-bottom: 7px;
    }   
}
.section5_text span {
font-size: calc(1.4vw + 1.152px); /*24px*/
line-height: 100%; /*24px*/

}
.section5_text p {
margin-top: calc(1vw + 0.528px); /*18px*/
font-size: calc(1vw + -0.128px); /*16px*/
line-height: 133%; /*24px*/
color: #AAAAAA;
}
/* Section5 End */

/* Section6 Start */
.section6 {
    display: flex;
    background-image: url(../IMG/экран\ 7/Rectanglemain.WebP);
    background-size:  100vw  calc(44.9vw + 46.016px)  ; 
    background-position: center; 
    background-repeat: no-repeat;
    margin-top: calc(13.5vw + 12.864px); /*240px*/
    background-clip: content-box;               
}

.section6_info {
    display: flex;
    flex-direction: column;
    margin-left: calc(9.8vw + 9.688px); /*175px*/
    margin-top: calc(7vw + 6.728px); /*125px*/
}

.section6_info p {
    font-size: calc(1.4vw + 1.152px);  /*24px*/
    line-height: 133%; /*32px*/
    text-align: left;
    margin-top: calc(0.4vw + 0.28px); /*7px*/
    width: calc(12.7vw + 12.304px); /*226px*/
    color: #FFFFFF;
    
    
}
.section6_info img {
    margin-left: calc(0.6vw + -0.752px); /*10px*/
}

.section6_info2 {
    margin: calc(2.2vw + 1.361px) calc(9.4vw + 8.752px) calc(0.6vw + -0.401px) calc(10.4vw + 10.28px); /*39.02px 166px 8.98px 185px*/
    margin-bottom: calc(7.4vw +  6.352px); /*130px*/
    font-size: calc(1vw + -0.128px); /*16px*/
    line-height: 76%; /*12px*/
    color: #FFFFFF;
}
.s6_2, .s6_3 {
    margin-top: calc(1.8vw + 0.432px) ; /*30px*/
    
}
.s6_img1 {
    width: calc(19.7vw + 19.376px); /*350px*/
   height: calc(1.5vw + 1.464px); /*27px*/

}
.s6_img {
    margin-top: calc(0.5vw + -0.064px); /*8px*/ 
    width: calc(5.7vw + 4.576px); /*100px*/
    height: calc(1.8vw + 1.088px); /*32px*/
}

/* Section6 End */

/* Section7 Start */
.section_h2 {
    margin: calc(13.5vw + 12.864px) calc(11.8vw + 12.088px) calc(7.6vw + 7.32px)  calc(11.8vw + 12.088px); /**/ 
    font-size: calc(2.6vw + 1.648px); /*46px*/ 
line-height: 113%; /*52px*/

}
.section_h2 p {
    text-align: left; 
    color: #AAAAAA;   
}
.section_h2 h2 {
margin-top: calc(1.4vw + 0.808px); /*25px*/
}
.section7_info {
    display: flex;
    margin: 0 calc(2.7vw + 2.304px) 64px calc(2.7vw + 2.304px); /*0 48px 64px 48px*/ 
}
.section7_left img {
    width: calc(37.7vw + 37.976px); /*671px*/
height: calc(37,7vw + 38.976px ); /*672px*/
}

.s7_right {
    margin: calc(14.5vw + 13.736px) calc(2.7vw + 2.304px) calc(14.5vw + 13.736px) 0; /* 258px 48px 258px 0*/ 
}
.s7_right p {
    margin-left: calc(5.1vw + 3.984px); /*90px*/
    margin-right: calc(7.1vw + 7.384px); /*127px*/
}
.s7_right h3 {
    margin-left: calc(5.1vw + 3.984px); /*90px*/
}
.s7_left{
    margin: calc(14.5vw + 13.736px) 0 calc(14.5vw + 13.736px) calc(2.7vw + 2.304px); /* 258px 0 258px 48px*/ 
}
.s7_left  {
    margin-left: calc(6.2vw + 5.168px); /* 110px*/
}
.s7_left p{
    margin-right: calc(6.8vw + 6.76px) /*121px*/
}

.section7_right h3 {
    font-size: calc(1.8vw + 1.088px); /*32px*/
    line-height: 112%; /*36px*/ 
}
.section7_right p {
margin-top: calc(1.5vw + 1.464px); /*27px*/
font-size: calc(1vw + -0.128px); /*16px*/ 
line-height: 150%; /*24px*/
color: #AAAAAA;
}
    @media(max-width: 600px){
        .section7_right h3{
            font-size: 10px;
            margin: 0 1px 0 1px;
        }  
        .section7_right p {
            font-size: 9px;
          margin: 3px 1px 0 1px;
        }
        .section7_right{
           margin-top: 1px;
           margin-right: 0;
           margin-left: 0;
        }
}
/* Section7 End */
/* Section8 Start */
.slider-container2 {
    margin-top: calc(16.2vw + 16.512px); /*288px*/
    position: relative;
   width: calc(100vw - calc(6.3vw + 5.824px));
   
    
    margin: auto;
    margin-top: calc(10.7vw + 9.904px); /*190px*/  
}
.slider2 {
    display: flex;
    overflow: hidden;
}

.slide2 {
    flex: 0 0 auto;
    width: 100%;
    transition: transform 0.5s ease;
    transform: translateX(0);
}

.slide2 img {
    height: calc(41.3vw + 42.496px);  /*736px*/
    width: 100%;
    object-fit: cover;

}


/* Section8 End */
/* Section9 Start */
.section9{ 
 margin:  calc(16.1vw + 15.856px) calc(3.6vw + 3.52px) calc(4.5vw + 3.736px) calc(3.6vw + 3.52px); /*286px 64px 79px 64px*/
}
.section9_main{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color:  #F2F2F2;  
}
.section9_main h3{ 
    margin-top: calc(3.6vw + 2.52px); /*63px;*/
font-size: calc(2.8vw + 2.754x); /*46px*/
line-height: 110%; /* 50.6px*/

}
.section9_main img{
    align-items: center;
    width: calc(44.9vw + 46.016px);/*800px*/
height: calc(13.2 + 13.24px);/*235px*/
}
.section9_button_text{
/*width: calc(8.2vw + 7.568px); /*146px*/ width: calc(3.4vw + 82.208px);
/*height: calc(2.9vw + 1.616); /*50px;*/ height: calc(1.4vw +  27.152px);
background-color:#46856E;
color: #FFFFFF;
/*font-size: calc(0.7vw + -0.096px); /* 12px */ font-size: calc(0.3vw +  6.624px);
line-height: 500%;
}
.section9_a{
    margin: calc(1.5vw + 0.464px) 0 ; /*26px 0*/
    width: calc(8.2vw + 7.568px); /* 146px;*/
    font-size: calc(0.7vw + -0.096px); /*12px*/
    line-height: 117%; /* 14.06px*/   
}
.section9_a a{
    text-decoration: none;
    color: #AAAAAA;
}


.popUpForm {
    /* background-color: rgba(0, 0, 0, 0.305); */
    background-color: rgba(0, 0, 0, 0.305);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    animation: popUpAnime 1s;
    }
    .popUpForm form {
        padding: 20px 60px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 10px
    }
    .popUpForm input { 
        display: block;
        margin-top: 10px;
    }
    
    .popUpForm input { 
        display: block;
        margin-bottom: 20px;
    }
    .popUpForm label{
        font-size: 10px;
    }
    .close{
        text-align: right; 
    }
    .send{
        border-radius: 4px;
        font-size: 14px;
        width: 90px;
        height: 40px;
        background-color:#46856E;
        color: white;
        border: 2px solid #46856E;
    }
    @keyframes popUpAnime {
        0% {
            transform: scale(0);
            opacity: 0;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        50% {
            opacity: 0.7;
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
        }
        100% {
            transform: scale(1);
            opacity: 1;
            box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
        }
    }
        /* End*/
/* Section9 End */
/* Footer Start */
.footer_main{
    padding: calc(5.4vw + 5.608px) calc(6.8vw + 5.76px) calc(2.9vw + 2.616px) calc(6.8vw + 5.76px) ; /*97px 120 51px 120*/
    display: flex;
    
    gap: 10%; /*69px*/
    
}
.footer_img{
   justify-self: right;
   margin-left: calc(3.1vw + 2.584px);/*55px*/
}

.footer_All_text {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    flex-direction: row; 

}
.footer_All_text a{
    text-decoration: none;
    font-size: calc(0.8vw + 0.56px); /*14*/
    line-height: 117%;  /*16.41px*/
    color:white ;
}

.ft1{
    margin-top: calc(1.2vw + -0.16px);
}
.footer_text_left,
.footer_text_right {
    flex: 1; 
    width: calc(9.6vw + 8.72px); /*170*/
height: calc(26.4vw + 27.48px); /*471*/
}

.footer_text2{
    display: flex;
    margin-top: calc(1vw + 0.872px); /*17*/
    flex-direction: column;
}

.footer_text2 .footerA{
    
    width: calc(7.9vw + 6.944px); /*140*/
   
    
    margin-top: calc(1vw + 0.872px); /*170*/
}
.footer_All_site{
    color: #FFFFFF;

}
.footer_img_input{
    
    margin-top: calc(1vw + 0.872px); /*17*/
}
.footer_img_input a{
    text-decoration: none;
}

.footer_last{
   display: flex;
   flex-direction: column;
    margin-right: calc(3.1vw + 2.584px); /*55*/
    position: relative;  
}

.footer_last_text2{
    margin-top: calc(1vw + 0.872px); /*17*/
}
.footer_last_text1,.footer_last_text2{
font-size: calc(0.8vw + 0.56px); /*14*/
line-height: 117%; /*16.41px*/
color: #FFFFFF;
text-align: left;
}
.footer_last_input_text {
    display: flex;
    height: calc(3vw + 2.928px); /*54*/
    justify-content: left; 
    margin-top: calc(1.8vw + 0.432px); /*30*/
}
.footer_last_input_text input {
    width:  calc(18.4vw + 17.88px); /*327*/
    background-color: transparent;
    border: 1px solid #FFFFFF66
}
.footer_last_select{
display: flex; 
text-align: center;
margin-top: calc(1vw + -0.126px);
margin-left: calc(12.6vw + 11.992px); /*226*/

}
.footer_last_select select{
    width: calc(5.8vw + 5.888px); /*104*/
   height: calc(1.2vw + 0.84px);/*21*/
background-color: transparent;
}
.footer_Input {
    position: absolute; 
    left: calc(-2.9vw + -1.616px);  /*-50*/
    top: calc(13.7vw + 13.176px);  /*243*/
    transform: translateY(-50%); 
}
.footer_Input input{
    width: calc(1.6vw + 1.12px); /*28*/
    height: calc(1.5vw + 0.464px); /*26*/
    border: 1px solid #FFFFFF80
}

.footer_last_select{
    display: flex;
    justify-content: center; 
    align-items: center; 

}

.footer_last_text3{
    text-align: left;
font-size: calc(0.6vw + 0.248px); /*11*/
line-height: calc(08vw + - 0.402px); /*12.89*/
color: #FFFFFF80;
width: calc(20.7vw + 20.904px); /*369*/
margin-top: calc(3.2vw + 2.24px);


}
.footer_last_button{
    text-align: right;
}
.footer_last_button button {

    margin: calc(3.3vw + 2.896px) calc(2.8vw +  1.96px) calc(2.5vw + 2.336px)  0  ;/*58 0 44 261 calc(14.6px + 15.048px)*/
    
   font-size: calc(0.7vw + -0.096px); /*12*/
   line-height: calc(3.4vw + 2.208px); /*60*/
    background-color:#2B2B2B;
    color: #FFFFFF;
    width: calc(4.1vw + 3.456px); /*72*/
height: calc(3.4vw + 2.208px); /*60*/
text-transform: uppercase;

    border: 0px;
}

.sendBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
@media(max-width: 1184px){
    .footer_All_text{
        display: none;
    }
    .footer_last{
        display: none;
    }
    .footer_main{
        gap: 50%;
    }
    
}